KONG_CLUSTER_CONTROL_PLANE=YOUR_KONNECT_CP_HOST:443
KONG_CLUSTER_SERVER_NAME=YOUR_KONNECT_CP_HOST
KONG_CLUSTER_TELEMETRY_ENDPOINT=d1c7e1d38b.us.tp.konghq.com:443
KONG_CLUSTER_TELEMETRY_SERVER_NAME=d1c7e1d38b.us.tp.konghq.com
OPENAI_API_KEY=
GEMINI_API_KEY=
DECK_OPENAI_API_KEY=
DECK_GEMINI_API_KEY=
DECK_OPENAI_MODEL=gpt-4o-mini
DECK_GEMINI_MODEL=gemini-2.5-flash
DECK_REDIS_HOST=redis-stack
KONNECT_TOKEN="YOUR_KONNECT_PAT"
KONNECT_CONTROL_PLANE_NAME="YOUR_KONNECT_CONTROL_PLANE_NAME"
KONNECT_CP_ID=73d2189b-8711-47c2-a11e-7e122eabd1d7

# Copy Konnect-issued DP certificates into ./kong/certs
# kong/certs/tls.crt
# kong/certs/tls.key
